<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Plan It</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }

      div.ex{
        width:300px;
        height:200px;
        padding:10px;
        border:5px solid grey;
        margin:0px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-left: -155px;
        margin-top: -100px;
        z-index = 1;
      }
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>
    <div id="fb-root"></div>
    {% if current_user %}
    <div class="navbar navbar-static-top navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          
          <a class="brand" href="#"><img src="../assets/logo.png"/></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li>
                <a onclick="plm()"><i class="icon-plus"></i> Create Event</a>
              </li>
              <li>
              	<a href="/"><i class="icon-flag"></i> Notifications</a>
              </li>	
              <li>
                  <form class="navbar-search pull-right">	
                    <input type="text" class="search-query" placeholder="Search">
                  </form>
              </li>
            </ul>
            <ul class="nav pull-right">
              <li>
	              <a href="/"><i class="icon-cog"></i> Settings</a>
              </li>
              <li> 
                <fb:login-button autologoutlink="true" scope="publish_stream"></fb:login-button>
              </li>
            </ul>
            
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div id="inviteFriends">
      <a href='#' onclick="FacebookInviteFriends();">
        Invite your friends to this event!
      </a>
    </div>

    <div class="container" id="textInsert">

    </div> <!-- /container -->

    <div class="ex" id="p2" style="visibility:hidden">
    <form method="post">
            <br>
            <Label> Name&nbsp;&nbsp; </Label>
            <input name="name" id="name">
            <br>
            <br>
            <Label> Where&nbsp;&nbsp; </Label>
            <select name="where" id="where">
                <option value="journey">Journey</option>
                <option value="meeting">Meeting</option>
                <option value="movie">Movie</option>
            </select>
            <br>
            <Label> When&nbsp;&nbsp; </Label>
            <input type="date" name="date" id="datepicker"/>
            <br>
            <br>
            <Label> Details&nbsp;&nbsp; </Label>
            <textarea name="details" id="details" ></textarea>


        <input type="submit" value="Create"/>
        <input type="button" name="cancel" value="Cancel" onclick="plm2()"/>
        </form>
  </div>
    {% else %}
        <fb:login-button autologoutlink="true" scope="publish_stream"></fb:login-button>
    {% endif %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());

      function FacebookInviteFriends()
      {
        FB.ui({
          method: 'apprequests',
          title: 'Add friends to your event',
          message: 'Invite friends dialog',
          data: '{"eventId":"42","type":"Facebook"}'
        }, fbCallback);
      }

      function fbCallback(response) {
        console.log(response);
      }

      function processIncomingRequest() {
        var isInvited = false;
        var urlParams = {};
        (function () {
          var match,
          pl     = /\+/g,  // Regex for replacing addition symbol with a space
          search = /([^&=]+)=?([^&]*)/g,
          decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
          query  = window.location.search.substring(1);

        while (match = search.exec(query))
          urlParams[decode(match[1])] = decode(match[2]);
        })();

        var requestType = urlParams["app_request_type"];

        if (requestType == "user_to_user") {
          var requestID = urlParams["request_ids"];

          FB.api(requestID, function(response) {
            var gChallengerID = response.from.id;
            var gChallengerName = response.from.name.split(" ")[0];
            print("Invited by "+gChallengerID+" "+gChallengerName);
            isInvited = true;
          });
        }
        return isInvited;
      }
    </script>
    <script>
      window.fbAsyncInit = function() {
        FB._https = true;
        FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true,
                 xfbml: true});

        FB.getLoginStatus(function(response) {
          if (response.status === 'connected') {
            gPlayerFBID = response.authResponse.userID;
            if (processIncomingRequest()) {
              document.getElementById('textInsert').textContent="Invited";
            } else {
              document.getElementById('textInsert').textContent="Not invited";
            }
          }
        });

        FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
          {% if current_user %} window.location = "/logout" {% else %} window.location.reload(); {% endif %}
        });
      };
    </script>
    <script>
        function plm(){
            document.getElementById("p2").style.visibility="visible";
        }
        function plm2(){
            document.getElementById("p2").style.visibility="hidden";
        }
    </script>
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
