
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Plan It</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
     <style>
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        padding-left: 140px;
      }

    </style>
    

  </head>

  <body>
	<div id="fb-root"></div>
    {% if current_user %}
    
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a class="brand" href="/"><img src="../assets/logo.png"/></a></li>
            <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span> Create Event</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-flag"></span> Notifications</a></li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img width="18" height="18" src="https://graph.facebook.com/{{current_user.id}}/picture?type=square"/>{{current_user.name}}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Settings</a></li>
                <li><a href="/logout" onclick="FB.logout();">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
   
	<div class="container">
    {% block content %}

    {% endblock %}
    </div> <!-- /container -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Create Event</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" role="form" method="post">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="name">Name</label>
                <div class="col-sm-10 control-label">
                  <input class="form-control" type="text" id="name" name="name">
                </div>
              </div>

              <div class="form-group">
                    <label class="col-sm-2 control-label" for="where">Where</label>
                    <div class="col-sm-10 control-label">
                        <select class="form-control" name="where" id="where">
                            <option value="holiday">Holiday</option>
                            <option value="pub">Pub</option>
                            <option value="restaurant">Restaurant</option>
                            <option value="movie">Cinema</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="datepicker">When</label>
                    <div class="col-sm-10 control-label">
                        <input class="form-control" type="date" id="datepicker" name="date">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="details">Details</label>
                    <div class="col-sm-10 control-label">
                        <textarea style="resize: none;" rows="3" class="form-control" id="details" name="details"></textarea>
                    </div>
                </div>
                <div class="form-group">
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save and start editing</button>
                  </div>
                </div>
            </form>
          </div>
          
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    {% else %}
    
    <div class="container">
      
      <div class="masthead" align="center">
        <img src="..\assets\logo_large.png"/>
        <hr>
        <fb:login-button autologoutlink="true" scope="publish_stream"></fb:login-button>
      </div>
    </div>
    {% endif %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=612116692159703";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());

      function FacebookInviteFriends()
      {
        FB.ui({
          method: 'apprequests',
          title: 'Add friends to your event',
          message: 'Invite friends dialog',
          data: '{"eventId":"42","type":"Facebook"}'
        }, fbCallback);
      }

      function fbCallback(response) {
        var i = 0, ids = response['to'];
        document.getElementById('textInsert').setAttribute('total',ids.length);
        for (i=0; i<ids.length; i++) {
          document.getElementById('textInsert').innerHTML += "<div id="+ids[i]+"></div>";
        }
      }

      function processIncomingRequest() {
        var isInvited = false;
        var urlParams = {};
        (function () {
          var match,
          pl     = /\+/g,  // Regex for replacing addition symbol with a space
          search = /([^&=]+)=?([^&]*)/g,
          decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
          query  = window.location.search.substring(1);

        while (match = search.exec(query))
          urlParams[decode(match[1])] = decode(match[2]);
        })();

        var requestType = urlParams["app_request_type"];

        if (requestType == "user_to_user") {
          var requestID = urlParams["request_ids"];

          FB.api(requestID, function(response) {
            var gChallengerID = response.from.id;
            var gChallengerName = response.from.name.split(" ")[0];
            print("Invited by "+gChallengerID+" "+gChallengerName);
            isInvited = true;
          });
        }
        return isInvited;
      }
   
      window.fbAsyncInit = function() {
        FB._https = true;
        FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true,
                 xfbml: true});

        FB.getLoginStatus(function(response) {
          if (response.status === 'connected') {
            gPlayerFBID = response.authResponse.userID;
          }
        });

        FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
          {% if current_user %} window.location = "/logout" {% else %} window.location.reload(); {% endif %}
        });
      };

    </script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../assets/js/bootstrap.js"></script>
    
  </body>
</html>
