{% extends "base.html" %}

{% block content %}

	<h2>Edit event</h2>
    <div class="col-md-3 col-md-offset-1">
    <form class="form-horizontal" method="post">
      <div class="form-group">
        <label class="control-label" for="where">Where</label>
        <div class="control-label">
            <select class="form-control" name="where" id="where">
                <option value="holiday">Holiday</option>
                <option value="pub">Pub</option>
                <option value="restaurant">Restaurant</option>
                <option value="movie">Cinema</option>
            </select>
        </div>
      </div>
      <br />
      <div class="form-group">
        <label class="control-label" for="location">Location</label>
        <div class="control-label">
            <select class="form-control" name="location" id="location">
                <option value="studentpub">StudentPub</option>
                <option value="hanulberarilor">Hanul Berarilor</option>
                <option value="cafedeko">Cafe Deko</option>
            </select>
        </div>
      </div>
      <br />
      <div class="form-group">
        <label class="control-label" for="date">Date</label>
        <div class="control-label">
          <input class="form-control" type="date" name="date" value="{{event.date}}">
        </div>
      </div>
      <br />

      <div class="form-group">
        
          <button type="submit" class="btn btn btn-primary" name="save">Save</button>
          <br />
 
           <div id="inviteFriends">
           <br>
           <br>
            <a href='#' onclick="FacebookInviteFriends();">
                Invite your friends to this event!
            </a>
          </div>
       
      </div>
      <br>
      <br>
      <div class="fb-comments" data-numposts="5" ></div>
     
    </form>

    
    <div class="container" id="textInsert">
    </div>
	</div>

{% endblock %}
