{% extends "base.html" %}

{% block content %}
<div class="container-fluid">

    <form class="form-horizontal" method="post">
      <div class="control-group">
        <label class="control-label" for="where">Where</label>
        <div class="controls">
            <select class="span2" name="where" id="where">
                <option value="holiday">Holiday</option>
                <option value="pub">Pub</option>
                <option value="restaurant">Restaurant</option>
                <option value="movie">Cinema</option>
            </select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="location">Location</label>
        <div class="controls">
            <select class="span2" name="location" id="location">
                <option value="studentpub">StudentPub</option>
                <option value="hanulberarilor">Hanul Berarilor</option>
                <option value="cafedeko">Cafe Deko</option>
            </select>
        </div>
      </div>
     
      <div class="control-group">
        <label class="control-label" for="date">Date</label>
        <div class="controls">
          <input type="date" name="date" value="{{event.date}}">
        </div>
      </div>


      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn" name="save">Save</button>
           <div id="inviteFriends">
           <br>
           <br>
            <a href='#' onclick="FacebookInviteFriends();">
                Invite your friends to this event!
            </a>
          </div>
        </div>
      </div>
      
     
    </form>


    <div class="container" id="textInsert">
    </div>
</div>

{% endblock %}
