{% extends "base.html" %}
<!--graph.facebook.com/ + uid + /picture?type=square-->
{% block content %}
{% if current_user %}
<div class="container-fluid">
<div class="row-fluid marketing">
    <h2>Current events</h2>
    <div class="span6">
    <table class="table table-striped">
    
    {% for event in events %}
    <tr>
    <td>
      <h4><a href="/event?id={{event.id}}">{{event.name}}</a></h4>
      <p>{{event.details}}</p>
      <p>{{event.where}}</p>
      <p>{{event.date}}</p>
    </td>
    </tr>
    {% endfor %}  
      
    </table>
    </div> 
</div>
</div>
{% endif %}
{% endblock %}
